
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    padding: 18px 18px 18px 80px;
    justify-content: space-between;

}

.navbar_navegacao {
    justify-content: space-around;
    margin: 32px;
}
