@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-primaria: #ffffff;
    --color-secundaria: #8E2424;
    --color-terciaria: #C3191908;
    --color-footer: #F9FAFB;

    --color-logo: #3A404E;
    --color-texto: #667085;
    --color-titulo: #101828;
    --color-direitos: #98A2B3;

    --color-card: #EAECF0;

    --fonte-principal: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

.navbar {
    display: flex;
    align-items: center;
    background-color: var(--color-primaria);
    justify-content: space-between;
    padding: 26.5px 112px;
}

.logo {
    font-size: 18px;
    font-weight: 500;    
    color: var(--color-logo);
}

.nav-links {
    display: flex;
    margin-right: auto;
    margin-left: 119px;
}

.navbar_navegacao {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    color: var(--color-texto);
    cursor: pointer;
    padding: 0 32px;
}

.navbar_buttons {
    display: flex;
    gap: 0 12px;
}

.navbar_buttons button {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button_entrar {
    background-color: transparent;
    color: var(--color-texto);
}

.button_cadastrar {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--color-secundaria);
    color: var(--color-primaria);
}

.cabecalho {
    width: 100%;
    height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.cabecalho_introducao {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-secundaria);
}

.cabecalho_titulo {
    font-size: 48px;
    font-weight: 600;
    color: var(--color-titulo);
}

.cabecalho_descricao {
    text-align: center;
    font-size: 20px;
    font: 400;
    margin-bottom: 5px;
    color: var(--color-texto);
}

.metricas {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 288px;
    gap: 32px;
}

.metricas_itens {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 280px;
}

.metricas_itens_titulo {
    font-size: 60px;
    font-weight: 600;
    color: var(--color-secundaria);
}

.metricas_itens_subtitulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-titulo);
}

.metricas_itens_paragrafo {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-texto);
}

.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 112px;
}

.vagas_introducao {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.vagas_introducao_vagas_abertas {
    font-size: 16px;
    font-weight: 500;
    padding: 4px 12px;
    border-radius: 16px;
    background-color: var(--color-terciaria);
    color: var(--color-secundaria);
    display: inline-block;
    margin: 0 auto;
}

.vagas_introducao_titulo {
    font-size: 36px;
    font-weight: 600;
    color: var(--color-titulo);
}

.vagas_introducao_paragrafo {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-texto);
}

.vagas_imagem {
    width: 1216px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 64px auto 0 auto;
}

.vagas_setor {
    padding: 64px 0 32px 0;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-titulo);
    max-width: 816px;
    width: 100%;
}

.vagas_vaga {
    background-color: var(--color-primaria);
    border: 1px solid var(--color-card);
    border-radius: 16px;
    padding: 24px;
    max-width: 768px;
    max-height: 136px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 24px;
}

.titulo_vaga {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-titulo);
}

.informacoes {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-texto);
    gap: 24px;
}

.depoimentos_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-terciaria);
    max-width: 1216px;
    width: 100%;
    height: 404px;
    margin: 0 auto;
    margin-bottom: 96px;
    border-radius: 16px;
}

.depoimentos_introducao {
    font-size: 14px;
    font-weight: 600;
    padding: 0 0 16px;
    color: var(--color-secundaria);
}

.depoimentos_depoimento{
    
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    width: 1088px;
    padding: 0 0 32px;
    color: var(--color-titulo);
}

.depoimentos_imagem {
    padding: 0 0 16px;
}

.depoimentos_colaborador {
    font-size: 16px;
    font-weight: 500;
    padding: 0 0 4px;
    color: var(--color-titulo);
}

.depoimentos_colaborador_cargo {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-texto);
}

.rodape_container {
    background-color: var(--color-footer);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 430px;
}

.rodape_titulo {
    font-size: 36px;
    font-weight: 600;
    padding: 96px 0 0;
    color: var(--color-titulo);
}

.rodape_frase {
    font-size: 20px;
    font-weight: 400;
    padding: 20px 0 0;
}

.rodape_container_forms {
    display: flex;
    padding: 40px 0 0;
    gap: 16px;
}

.rodape_input_email {
    width: 360px;
    height: 48px;
    border: 1px solid var(--color-card);
    border-radius: 6px;
    
}

.rodape_input_email::placeholder {
    font-size: 16px;
    font-weight: 400;
    padding: 0 16px 0;
}

.rodape_direitos {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-direitos);
    padding: 32px 0 0;
}